

.inputControl {
    display: flex;
    flex-direction: column;

    
    .icon {
        font-size: inherit;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.5rem;
        &__label {
            margin-bottom: 0.5rem;
        }
    
        &__input {
            outline: none !important;
            border-radius: 0.2rem !important; 
            height: 3rem;
            border: 2px solid grey;

        
            &:active:focus {
                outline: none !important;
            }
            &:focus {
                outline: none !important;
            }
        }
        
    }

}

